<article>
  <h1 class="title"><%= link_to_if wrap_title_with_link, page.title, page, id: page.slug %></h1>

  <p class="timestamps">
    <small>
      Created on <%=l page.created_at.localtime, format: :human_long %><br>
      <% if page.created_at != page.updated_at -%>
        Updated on <%=l page.updated_at.localtime, format: :human_long %>
      <% end -%>
    </small>
  </p>

  <div class="content"><%= page_content page %></div>

  <% if show_comment_form -%>
    <%= render partial: 'pages/pages_spacer' %>
  <% end -%>

  <div class="comments_area">
    <% if show_comment_form -%>
      <%= render partial: 'pages/page_comment_form' %>
    <% end -%>

    <%= render partial: 'pages/page_comments_count', locals: { page: page, wrap_comments_count_with_link: wrap_comments_count_with_link } %>

    <% if show_comments -%>
      <%= render partial: 'page_comments', object: page.comments.order(id: :desc) %>
    <% end -%>
  </div>
</article>