<article>
  <h1 class="title"><%= link_to_if wrap_title_with_link, page.title, page, id: page.slug %></h1>

  <p class="timestamps">
    <small>
      Created on <%= page.created_at.localtime.strftime '%A, %e %B %Y at %k:%M %:z' %><br>
      <% if page.created_at != page.updated_at -%>
        Updated on <%= page.updated_at.localtime.strftime '%A, %e %B %Y at %k:%M %:z' %>
      <% end -%>
    </small>
  </p>

  <div class="content"><%= page_content page %></div>

  <% if show_comment_form -%>
    <%= render partial: 'pages/page_comment_form' %>
  <% end -%>

  <p class="comments_count"><small><%= pluralize page.comments.size, 'comment' %></small></p>

  <% if show_comments && page.comments.size > 0 -%>
    <section class="comments">
      <%= content_tag_for :article, page.comments.order(id: :desc) do |comment| %>
        <p class="comment_title">
        <small>
          On <span class="created_at"><%= comment.created_at.localtime.strftime '%A, %e %B %Y at %k:%M %:z' %></span>, <span class="comment_author"><%= comment.author %></span> wrote
        </small>
        </p>
        <p class="comment_content"><%= comment.content %></p>
      <% end %>
    </section>
  <% end -%>
</article>