<article>
  <h1 class="title"><%= link_to_if wrap_title_with_link, page.title, page, id: page.slug %></h1>

  <p class="timestamps">
    <small>
      Created on <%=l page.created_at.localtime, format: :human_long %><br>
      <% if page.created_at != page.updated_at -%>
        Updated on <%=l page.updated_at.localtime, format: :human_long %>
      <% end -%>
    </small>
  </p>

  <div class="content"><%= page_content page %></div>

  <% if show_comment_form -%>
    <%= render partial: 'pages/page_comment_form' %>
  <% end -%>

  <p class="comments_count">
    <%= link_to_if wrap_comments_count_with_link, content_tag(:small, pluralize(page.comments.size, 'comment')), page_path(page, anchor: 'comments') %>
  </p>

  <% if show_comments && page.comments.size > 0 -%>
    <section id="comments" class="comments">
      <%= content_tag_for :article, page.comments.order(id: :desc) do |comment| %>
        <p class="comment_title">
        <small>
          On <%=l comment.created_at.localtime, format: :human_long %>, <%= comment.author %> wrote
        </small>
        </p>
        <p class="comment_content"><%= comment.content %></p>
      <% end %>
    </section>
  <% end -%>
</article>