<article>
  <h1 class="title"><%= link_to_if link_title, page.title, page, id: page.slug %></h1>

  <p class="timestamps">
    <small>
      Created on <%= page.created_at.localtime.strftime '%A, %e %B %Y at %k:%M %:z' %><br>
      <% if page.created_at != page.updated_at -%>
        Updated on <%= page.updated_at.localtime.strftime '%A, %e %B %Y at %k:%M %:z' %>
      <% end -%>
    </small>
  </p>

  <div class="content"><%= page_content page %></div>

  <%= form_for(@page_comment, url: @page_comment.new_record? ? page_comments_path(page_slug: @page_comment.page.slug, anchor: 'new_comment') : page_comment_path(@page_comment)) do |f| %>
    <% if @page_comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @page_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <p class="comments_count"><small><%= pluralize page.comments.size, 'comment' %></small></p>
</article>