<h1>Pages</h1>

<% if @pages.blank? -%>
  No page has been created yet. <%= link_to 'Create one', new_page_path %>
<% else -%>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.id %></td>
          <td><%= link_to page.title, page %></td>
          <td><%= time_ago_in_words page.created_at %> ago</td>
          <td><%= time_ago_in_words page.updated_at %> ago</td>
          <td class="action"><%= link_to 'Edit', edit_page_path(page) %></td>
          <td class="action"><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Page', new_page_path %>
<% end -%>