<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GL•B</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Kotta+One' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <a href="<%= root_path %>">
        <h1>GL<span class="bullet">•</span>B <sub>Yet another blog.</sub></h1>
      </a>
    </header>

    <%= yield %>
  </body>
</html>
