<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title><%= title_tag_content %></title>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <a href="<%= root_path %>" class="logo" title="Home">
        <h1>GL<span class="bullet">•</span>B</h1>
        <h2>a Great Little Blog.</h2>
      </a>
      <nav><%= link_to '♥', pages_path, title: 'Manage pages' %></nav>
    </header>

    <% if notice -%>
      <p class="notice"><%= notice %></p>
    <% end -%>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
