<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title_tag_content %></title>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='//fonts.googleapis.com/css?family=Pacifico|Open+Sans+Condensed:300|Kotta+One|Crimson+Text' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <a href="<%= root_path %>" class="logo" title="Home">
        <h1>GL<span class="bullet">•</span>B <sub>a Great Little Blog.</sub></h1>
      </a>
      <nav><%= link_to '♥', pages_path, title: 'Pages' %></nav>
    </header>

    <% if notice -%>
      <p class="notice"><%= notice %></p>
    <% end -%>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
